* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
.Anchor {
	position: absolute;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 3%;
	height: 3em;
	width: 3em;
	border-radius: 50%;
	background-color: tomato;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px 1px tomato;
	transition: .2s;
	transform: scale(0);
	font-weight: bold;
	font-size: 2vh;
	animation: infinite animate linear 2s;
}
.Anchor:hover {
	cursor: pointer;

}
@keyframes animate {
	0% {
		box-shadow: 0 0 5px 1px tomato;

	}
	25% {
		box-shadow: 0 0 10px 2px tomato;
	
	}
	50% {
		box-shadow: 0 0 20px 3px tomato;
		
	}
	75% {
		box-shadow: 0 0 10px 2px tomato;
		
	}
	100% {
		box-shadow: 0 0 5px 1px tomato;
	
	}
}

.navbar-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
#notclearbr {
	display: none;
}
.navbar-header .navbar {
	z-index: 50;
}

.navbar-header .navbar ul {
	text-align: center;
}

.navbar-header .navbar ul li {
	padding: 0 30px;
}

.navbar-header .navbar ul li a {
	color: #fff !important;
	font-size: 19px;
	position: relative;
}

.navbar-header .navbar ul li a::before {
	position: absolute;
	content: '';
	height: 2px;
	background-color: tomato;
	width: 0;
	right: 0;
	bottom: 0;
	transition: .2s
}

.navbar-header .navbar ul li a:hover:before {
	width: 100%;
	transition: .2s;
	left: 0;
}

.firstSection {
	height: 100vh;
	background-image: url(../img/background.jpg) !important;
	background-size: cover;
	display: flex;
	align-items: center;
}

.textInFirst {
	text-align: center;
	padding-top: 20%;
}

#textInFirst_1 {
	font-weight: bold;
	font-size: 5vh;
	color: #FAFAFA
}

#textInFirst_2 {
	font-size: 4vh;
	color: #F5FFFA;
	font-family: GothamPro;
	margin: 0 14%;
}

#buttonInFirst {
	margin: auto;
	margin-top: 3%;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	text-decoration: none;
	color: #fff;
	font-size: 2vh;
	transition: .4s;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 2px #fff solid;
	border-radius: 10%;
	padding: 15px;
}

#buttonInFirst:hover {
	transition: .2s;
	border-radius: 5%;
}

#buttonInFirst::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
	transition: .4s;
	transform: skewX(-45deg) translateX(-200%);
}

#buttonInFirst::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
	transition: .4s;
	transform: skewX(45deg) translateX(100%)
}

#buttonInFirst:hover::before {
	transform: skewX(-45deg) translateX(200%);
	transition: .4s ease-in-out
}

#buttonInFirst:hover::after {
	transform: skewX(45deg) translateX(-300%);
	transition: .4s ease-in-out
}

.scrollTo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10%;
	font-size: 1.7vh;
	color: #fff;
}

.mouseIcon {
	background-image: url(../img/mouse.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-top: 1%;
	background-size: cover;
}

@font-face {
	font-family: GothamPro;
	src: url(../fonts/GothamPro.ttf);
}

.secondSection {
	background-color: #fff;
}

.secondSectionTextAbout {
	display: flex;
	justify-content: center;
	font-size: 5vh;
	font-weight: bold;
	color: #030303;
	font-family: GothamPro;
	padding-top: 3%;
}

.secondSectionContent {
	margin-top: 7%;
}

.secondSectionContentImage {
	height: 20%;
	transition: .2s;
	position: relative;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.secondSectionContentImage:hover {
	transition: .2s;
	cursor: pointer;
}

.secondSectionContentImage_1 {
	background-image: url(../img/stanislav.jpg);
}

.secondSectionContentImage_2 {
	background-image: url(../img/evgeniy.jpg);
}

.secondSectionContentImage_3 {
	background-image: url(../img/dmitriy.jpg);
}

.secondSectionContentText_1 {
	font-family: GothamPro;
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 30px;
	margin: 5% 0;
}

.secondSectionContentText_2 {
	font-family: GothamPro;
	color: #666666;
}

.aVkImage i {
	display: block;
	display: flex;
	justify-content: center;
	margin: 40% 0;
	text-decoration: none;
	color: #fff;
	font-size: 8vh;
	transition: .2s;
	transform: scale(0);
	top: 0;
	left: 0;
	z-index: 5;
}

.aVkImage {
	text-decoration: none;
}

.aVkImage:hover {
	text-decoration: none
}

.secondSectionContentImage:hover i {
	transition: .2s;
	transform: scale(1);
}

.secondSectionContentImage {
	position: relative;
	overflow: hidden;
}

.secondSectionContentImage::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 0;
	background-color: rgba(240, 211, 24, 0.5);
	right: 0;
	transition: .2s;
}

.secondSectionContentImage:hover {
	transition: .2s;
	box-shadow: 0 0 5px 10px rgba(240, 211, 24, 0.5)
}

.secondSectionContentImage_2::before {
	background-color: rgba(255, 99, 71, 0.5)
}

.secondSectionContentImage_2:hover {
	transition: .2s;
	box-shadow: 0 0 5px 10px rgba(255, 99, 71, 0.5)
}

.secondSectionContentImage:hover:before {
	transition: .2s;
	width: 100%;
	left: 0
}

.secondSectionContentImage_3::before {
	background-color: rgba(52, 152, 219, 0.5)
}

.secondSectionContentImage_3:hover {
	transition: .2s;
	box-shadow: 0 0 5px 10px rgba(52, 152, 219, 0.5)
}

@media screen and (max-width: 1000px) {
	.secondSectionContentText_2 {
		font-size: 2vh
	}
	.secondSectionContentText_1 {
		font-size: 2.5vh
	}
}

.thirdSection {
	background: #fff;
}

.thirdSectionContent {
	margin: 5% 0;
}

.thirdSectionContentAll {
	margin: 5% 0;
	display: flex
}

.imageOfSite {
	height: 260px;
	width: 260px;
	background-position: 0 50%;
	background-size: contain cover;
	background-color: #C4C4C4;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0
}

#imageOfSite_1 {
	background: linear-gradient(135deg, #de496d 0, #ab49de 100%);
}

.kreo {
	font-size: 6vh;
	font-weight: bold;
	color: #fff;
}

.thirdSectionContentText {
	display: flex;
	flex-direction: column;
	margin: 0 10%;

}

.thirdSectionContentText_1 {
	font-size: 18px;
	font-weight: bold;
	color: #030303;
	font-family: GothamPro;
	margin: 5px 0;
	height: 20%;
}

.thirdSectionContentText_2 {
	color: #898989;
	margin: 16px 0;
	margin-left: 0;
	font-size: 17px;
	height: 70%;
}

.buttonOnThird {
	text-decoration: none;
	color: #D4D4D4;
	padding: 2%;
	font-size: 2.3vh;
	border: 3px #D4D4D4 solid;
	border-radius: 40px;
	font-weight: bold;
	margin: 10px 0;
	transition: .4s;
	position: relative;
	overflow: hidden;	
	

}

.buttonOnThird::before {
	position: absolute;
	content: '';
	left: -90%;
	height: 110%;
	width: 5vw;
	background: linear-gradient(135deg, #de496d 0, #ab49de 100%);
	transition: .4s;
	transform: skewX(-45deg);
	top: 0;
}
.btn:hover {
	color: #d4d4d4 !important;
}
.buttonOnThird:hover:before {
	left: 160%;
	transition: .4s ease-in-out;
}


#imageOfSite_2 {
	background-position: 0 50%;
	background-size: contain cover;
	background: linear-gradient(-45deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
	color: #fff;
	font-size: 6vh;
	font-weight: bold;
}

#buttonOnThird_2 {
	height: 10%;
	position: relative;
	transition: .4s
}

#buttonOnThird_2::before {
	position: absolute;
	content: '';
	left: -90%;
	height: 110%;
	width: 5vw;
	background: linear-gradient(-45deg, rgb(73, 221, 216) 0%, rgb(25, 226, 115) 100%);
	transition: .4s;
	transform: skewX(-45deg);
	top: 0
}

#buttonOnThird_2:hover:before {
	left: 160%;
	transition: .4s ease-in-out;
}
#imageOfSite_3 {
	background: linear-gradient(-134deg, rgb(0, 131, 255) 0px, rgb(213, 130, 255) 100%);
}
#buttonOnThird_3 {
	height: 10%;
	position: relative;
	transition: .4s
}
#buttonOnThird_3::before {
	position: absolute;
	content: '';
	left: -90%;
	height: 110%;
	width: 5vw;
	background: linear-gradient(135deg, rgb(255, 174, 39) 0%, rgb(222, 73, 109) 100%);
	transition: .4s;
	transform: skewX(-45deg);
	top: 0
}
#buttonOnThird_3:hover:before {
	left: 160%;
	transition: .4s ease-in-out;
}

#imageOfSite_4 {
	background: linear-gradient(-134deg, rgb(0, 131, 255) 0px, rgb(213, 130, 255) 100%);
}
#buttonOnThird_4 {
	height: 10%;
	position: relative;
	transition: .4s
}
#buttonOnThird_4::before {
	position: absolute;
	content: '';
	left: -90%;
	height: 110%;
	width: 5vw;
	background: linear-gradient(-134deg, rgb(0, 131, 255) 0px, rgb(213, 130, 255) 100%);
	transition: .4s;
	transform: skewX(-45deg);
	top: 0
}
#buttonOnThird_4:hover:before {
	left: 160%;
	transition: .4s ease-in-out;
}

#imageOfSite_5 {
	background: linear-gradient(45deg, rgb(120, 107, 175), rgb(232, 91, 111));
}
#buttonOnThird_45{
	height: 10%;
	position: relative;
	transition: .4s
}
#buttonOnThird_5::before {
	position: absolute;
	content: '';
	left: -90%;
	height: 110%;
	width: 5vw;
	background: linear-gradient(45deg, rgb(120, 107, 175), rgb(232, 91, 111));
	transition: .4s;
	transform: skewX(-45deg);
	top: 0
}
#buttonOnThird_5:hover:before {
	left: 160%;
	transition: .4s ease-in-out;
}
.clearbr {
	display: none;
}
.fourthSection {
	height: 80vh;
}

.fourthSectionContent {
	margin: 3% 10%;
	height: 80%;
	display: flex;
}
.fourthSectionContent_1 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.fourthSectionContent_2 {
	width: 50%;
	padding: 20px;
}

.fourthSectionContentText {
	font-family: GothamPro;
	font-weight: bold;
	font-size: 3vh;
	margin: 3% 0;
}
.firsttext {
	height: 15%;
	margin: 1% 20%;
	resize: none;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	background-color: #E5E5E5;
	border: none;
	color: #767676;
}
.firsttext::placeholder {
	color: #767676;

}
#secondtext {
	height: 40%;
	resize: none;
	margin: 1% 20%;
	display: flex;
	justify-content: center;
	padding: 10px 20px;
	border-radius: 20px;
	color: #767676;
	background-color: #E5E5E5;
	border: none;
}
#send {
	display: block;
	text-decoration: none;
	margin: 2% 30%;
	padding: 10px;
	border-radius: 40px;
	background-color: tomato;
	color: #fff;
	font-family: Arial;
	transition: .2s;
	font-weight: bold;
}
#send:hover {
	box-shadow: 0 0 5px 2px tomato;
	cursor: pointer;
}
.fourthSectionContentTextContact {
	color: gray;
}
#sendvk {
	text-decoration: none;
	color: gray;
}
#fsca_1 {
	margin: 10% 0;
	margin-bottom: 2%;
}

/**/
@media (max-width:767.98px) {
	
	.thirdSectionContentText_1 {
		margin-top: 24px;
		text-align: center;
	}
	
}
/*== Адаптация == */
@media screen and (max-width: 1024px){ 
	 p.kreo {
		margin-bottom: 0 !important;
	}
.clearbr {
	display: block;
}
.navbar-header .navbar ul li a { 
font-size: 15px; 
} 

.secondSectionContentText_2 { 
font-size: 2.3vh 
} 
.secondSectionContentText_1 { 
font-size: 2.4vh; 
line-height: 20px; 
} 
.imageOfSite { 
height: 240px; 
width: 240px; 
} 
.thirdSectionContentText_2 { 
font-size: 14px; 
margin: 5px 0; 
} 
.buttonOnThird { 
margin: 5px 0; 
} 
.clearbr { 
display: none; 
} 
.firsttext, #secondtext { 
margin: 1% 10%; 
} 
} 
@media screen and (max-width: 767px) {
	.fourthSectionContent_1 {
		width: 60%;
	}
	.fourthSectionContent_2 {
		width: 40%;
	}
.clearbr { 
display: none; 
}
#notclearbr {
	display: block;
} 
#cloud {
	text-align: center;
}
.navbar-header .navbar ul li a::before {
	display: none;
}
.textInFirst_if { 
	padding-top: 10%; 
} 
#buttonInFirst { 
	margin-top: 5%; 
} 
.navbar { 
	background: transparent !important; 
} 
.thirdSectionContentText{ 
	margin-top: 24px; 
} 
.buttonOnThird{ 
	padding: 2% 6%; 
} 

.thirdSectionContentAll { 
	display: flex; 
} 
.secondSectionContentAll { 
	margin: 5% 0; 
} 

.imageOfSite {
	height: 170px;
	width: 170px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.thirdSectionContentAll {
	margin: 10% 0;
}
/* .offset-2 {
	margin-left: 10% !important;
} */
.buttonOnThird {
	padding: 10px 10px !important;
	margin: auto;
	margin-top: 2%;
	padding: 34px;
}
.kreo {
	font-size: 4vh;
	height: 38px !important;
}
#cloud {
	height: 70px !important;
}
#send {
	width: 90%;
	margin: 3% 2%;
}
.row {
	margin: 0 !important;
}
.firsttext {
		margin: 1%;
		width: 90%;
		font-size: 12px;
		height: 20%;
	}
	#secondtext {
		margin: 1%;
		width: 90%;
		font-size: 12px;
	}
@media screen and (max-width: 450px){
	.secondSectionContentImage {
		height: 140px;
	}
	
	.fourthSectionContentText {
		font-size: 13px;
	}
	.fourthSectionContentTextContact {
		font-size: 12px;
	}
	.textInFirst {
		padding-top: 8%;
	}
	.col-4 {
		max-width: 50%;
	}
	.firsttext {
		margin: 3%;
		width: 90%;
		font-size: 12px;
		height: 20%;
	}
	#secondtext {
		margin: 3%;
		width: 90%;
		font-size: 12px;
	}
}
@media screen and (max-width: 400px){
	.textInFirst {
		padding-top: 37%;
	}
	.firsttext {
		margin: 2%;
		width: 96%;
		font-size: 13px;
		height: 20%;
		border-radius: 10px;
	}
	#secondtext {
		margin: 2%;
		width: 96%;
		font-size: 12px;
		border-radius: 10px;
	}
	
	#send {
		width: 90%;
		margin: 3% 5%;
	}
}
@media screen and (max-width: 350px){
	.col-4 {
		max-width: 70% !important;
	}
	.firsttext {
		margin: 3% 0%;
		width: 100%;
		font-size: 11px;
		height: 20%;
	}
	#secondtext {
		margin: 3% 0%;
		width: 100%;
		font-size: 11px;
	}
	#send {
		width: 100%;
		margin: 3% 0%;
	}
}
@media screen and (max-width: 335px){
	.buttonOnThird {
		padding: 10px 5px !important;
		margin: auto;
		margin-top: 2%;
		padding: 50px;
}
#secondtext {
		margin: 3% 0%;
		width: 100%;
		font-size: 9px;
	}
	#send {
		font-size: 14px;
	}
}
/*# sourceMappingURL=./style.css.map */
